<section class="content-header">
</section>

<br />
<div class="row">
  <div class="col s12 m6">
    <div class="card" style="background: rgba(46, 66, 179, 1); border-radius: 10px;">
      <div class="card-content white-text">
        <span class="card-title">
          <h5>Cadastrar Amigo Secreto</h5>
        </span>
        <br />
        <br />
        <div class="col-md-12 col-lg-7">
        <form [formGroup]="formAmg" (ngSubmit)="onSubmit()">
          
            <div class="formAmg">
              <h6 style="color: white">Nome do Amigo Secreto :</h6>
              <input formControlName="Nome_amigo_oculto" value="" type="text" class="form-control obg input-field"
              placeholder="Nome do Amigo Secreto" maxlength="50" value="" style="color: white" required>
            </div>

            <div class="row">

              <div class="formAmg col s12">
                <h6 style="color: white">Regras :</h6>
                <textarea formControlName="Descricao" value="" id="textarea1" class="materialize-textarea" style="color: white"
                placeholder="Ex: valor máximo/mínimo de compra" maxlength="250" required></textarea>
              </div>

            </div>
            <div class="formAmg">
              <h6 style="color: white">Data de Revelação :</h6>
              <input formControlName="Data_revelacao" mask="39/19/9999" id="campoData" placeholder="dd/mm/aaaa"
               maxlength="8" type="date" bsDatePicker class="form-control " ng-model="date" nome="campoData"
               style="color: white" required
               >
            </div>
            <br />
          
          <button type="submit" class="waves-effect waves-light btn-small" 
          style="background-color: rgba(40, 218, 49, 0.877);">Cadastrar</button>
          <br/>
          <br/>
        </form>

        <h6>Convidar Amigos por Email</h6>
         
        <br />
        <form [formGroup]="formMail">
          <div class="formMail">
            <h6 style="color: white">Nome :</h6>
            <input formControlName="Nome" type="text" id="nome" 
            name="nome" class="form-control " placeholder="Nome" style="color: white" required>
          </div>

          <div class="formMail">
            <h6 style="color: white">Email :</h6>
            <input formControlName="Email" type="email" id="email" 
            name="email" class="form-control " placeholder="E-mail" style="color: white" required email>
          </div>

          <button (click)="click()" class="btn btn-primary"
          [disabled]="formMail.invalid">Convidar</button>
        </form>
      </div>


        <!--<div class="container col s12">
            <a class="btn btn-primary btn-small" (click)="adicionarCampo()" href="javascript:void(0)" id="addInput">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Adicionar pessoas
            </a>
            <br/>
            <br/>
            <div id="dynamicDiv">
              <p>
                    <input formControlName="Email" type="text" id="inputeste" size="20" value="" placeholder=""  />
                   (add comentario->) <a class="btn btn-danger btn-small" href="javascript:void(0)" id="remInput" style="background: rgb(214, 30, 30)">
                      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>(<- fechar comentario)
                      
                </a>
                  </p>
                  <br/>
              </div>
          </div>-->


        <br />
        <br />
        
      


    </div>
  </div>
</div>
</div>