<div class="row">
    <div class="col s12 m6">
      <div class="card" style="background: rgba(46, 66, 179, 1)">
        <div class="card-content white-text">
          <span class="card-title"><h4>Amigos</h4></span>
         <br/>
         <br/>
         <div class="col-lg-5">
         <input type="text" class="form-control obg input-field" placeholder="Pesquisar Amigo" >
        </div>
         <br/>
         <br/>
        <br/>
         <div class="card-content" style="background: rgba(49, 199, 43, .7); border-radius: 10px">
        <p><label class="white-text"><h5>Jheik</h5></label></p>
        <button class="btn btn-primary btn-lg" style="background: red; margin: 12px">Desfazer Amizade</button>
        <br/>
      </div>
        <br/>
        <div class="card-content" style="background: rgba(49, 199, 43, .7); border-radius: 10px">
        <p><label class="white-text"><h5>Fernando</h5></label></p>
        <button class="btn btn-primary btn-lg" style="background: red; margin: 12px">Desfazer Amizade</button>
        <br/>
        </div>
        <br/>
        <div class="card-content" style="background: rgba(49, 199, 43, .7); border-radius: 10px">
        <p><label class="white-text"><h5>Deivid</h5></label></p>
        <button class="btn btn-primary btn-lg" style="background: red; margin: 12px">Desfazer Amizade</button>
        <br/>
        </div>
        <br/>
        <a class="btn btn-primary btn-lg" href="#" style="background-color: rgba(40, 218, 49, 0.877); color: #fff; text-decoration: none; margin: 15px" 
            >Voltar</a><button class="btn btn-primary btn-lg">Solicitações</button>
          </div>
        </div>
      </div>
    </div>