<section class="content-header">
  </section>
  <br/>
  <div class="row">
      <div class="col s12 m6">
        <div class="card" style="background: rgba(46, 66, 179, .89); border-radius: 10px">
          <div class="card-content white-text">
            <span class="card-title"><h3>Bem Vindo ao SASO</h3></span>
            
        <div class="container">
          <form class="col s12">
            <br />
            <br />
            <div id="botao">
            <button class="btn btn-primary btn-lg" style="background-color: rgba(40, 218, 49, .877);" [routerLink]="['/cadastroAmgSecreto']">
              Criar amigo secreto
            </button>
          </div>
            <br/>
            <br/>
            <div id="botao">
            <button class="btn btn-primary btn-lg" style="background-color: rgba(40, 218, 49, 0.877);" [routerLink]="['/gerenciarAmg']">
              Gerenciar amigo secreto já existente
            </button>
          </div>
          <br/>
            <br/>
            <div id="botao">
            <button class="btn btn-primary btn-lg" style="background-color: rgba(40, 218, 49, 0.877);" [routerLink]="['/pesquisarUsuario']">
              Pesquisar Usuário
            </button>
          </div>
            <br/>
            <br/>
            <div id="botao">
            <button class="btn btn-primary btn-lg" style="background-color: rgba(40, 218, 49, 0.877);"[routerLink]="['/gerenciarPerfil']">
              Gerenciar perfil
            </button>
          </div>
            <br/>
            <br/>
            <div id="botao">
            <button class="btn btn-primary btn-lg" style="background-color: rgba(40, 218, 49, 0.877);">
              Lista de amigos
            </button>
          </div>
          <br/>
            <br/>
          <div id="botao">
            <button class="btn btn-primary btn-lg" style="background-color: rgba(40, 218, 49, 0.877);" [routerLink]="['/relatorio']">
              Gerar Relatório
            </button>
          </div>
            
          <br/>
          </form>
        </div>
      </div>
    </div>
  <section class="content">
  </section>