<div class="row">
  <div class="col s12 m6">
    <div class="card" style="background: rgba(46, 66, 179, 1)">
      <div class="card-content white-text">
        <span class="card-title"><h5>Solicitações Pendentes</h5></span>
       <br/>
       <br/>
       <div class="card-content" style="background: rgb(54, 78, 214)">
        <p><label class="white-text"><h4>Jhonson</h4></label></p>
        <button class="waves-effect waves-light btn-large" style="background: green; margin: 12px">Aceitar Solicitação</button>
        <button class="waves-effect waves-light btn-large" style="background: red; margin: 12px">Excluir Solicitação</button>
        <br/>
      </div>
      <br/>
      <div class="card-content"  style="background: rgb(54, 78, 214)">
        <p><label class="white-text"><h4>Joseph</h4></label></p>
        <button class="waves-effect waves-light btn-large" style="background: green; margin: 12px">Aceitar Solicitação</button>
        <button class="waves-effect waves-light btn-large" style="background: red; margin: 12px">Excluir Solicitação</button>
        <br/>
      </div>
      <br/>
      <div class="card-content"  style="background: rgb(54, 78, 214)">
        <p><label class="white-text"><h4>Osvaldo</h4></label></p>
        <button class="waves-effect waves-light btn-large" style="background: green; margin: 12px">Aceitar Solicitação</button>
        <button class="waves-effect waves-light btn-large" style="background: red; margin: 12px">Excluir Solicitação</button>
        <br/>
      </div>
      <br/>
        <a href="#" class="btn btn-primary btn-large">Voltar</a>
      </div>
    </div>
  </div>
</div>